h1 {
    color: #e0785f; /* Accent color */
    font-family: 'Arial', sans-serif; /* Consider a different font */
    font-weight: 700; /* Bold font weight */
}

.about-text {
    background-color: #d8d5c2; /* Light background for the text */
    padding: 20px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
}

p {
    line-height: 1.6; /* Improve readability */
    font-size: 1.1rem; /* Slightly larger font size */
}

/* Style for links inside the paragraph if any */
p a {
    color: #e0785f;
    text-decoration: none; /* Removes underline */
}

p a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.profile-pic {
    width: 100%; /* Responsive width */
    max-width: 300px; /* Maximum width */
    height: auto; /* Maintain aspect ratio */
    /* border-radius: 50%; Circular image */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds a shadow */
    margin-bottom: 20px; /* Spacing below the image */
}

/* Responsive design adjustments */
@media (min-width: 992px) {
    .about-text {
        padding: 30px; /* More padding on larger screens */
    }
}