.contact-page {
    background-color: #f4f1de; 
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-page h1 {
    color: #e0785f; 
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px; 
}


.container {
    background-color: #d8d5c2; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    max-width: 500px; 
    margin: auto; 
}

.form input, .form button {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    background-color: #f4f1de;
}

.form button {
    background-color: #81b29a; 
    color: white;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #f2cc8f; 
    color: #3d405B;
}

.error-text {
    color: red; 
    text-align: center;
    margin-top: 10px;
}