.resume-container {
    margin-top: 45px;
    margin-left: 35px;
}

.resume-heading {
    color: #e0785f;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
}

.resume-download-link {
    display: inline-block;
    background-color: #81b29a;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}

.resume-download-link:hover {
    background-color: #f2cc8f;
    color: #3d405B;
}

.proficiency-section h2 {
    font-size: 1.2rem;
    color: #3d405B;
    line-height: 1.6;
    font-size: 1.1rem;
}

.proficiency-section li {
    line-height: 1.6;
    font-size: 1.1rem;

}